#d1{
    height:600px;
    width:900px;
    background-color:#CE1126 ;
    position:absolute;
}
div#d2>h1{
    color:white;
    font-size:68px;
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
    margin:0;
    text-align:center;
}
#d3{
    background-color:#002868;
    height:250px;
    width:900px;
    position:absolute;
    top:150px;
    
}
#circle{
    background-color:white;
    height:200px;
    width:200px;
    border-radius: 50%;
    position:absolute;
    top:25px;
    left:350px;
}
div#circle>h2#p1{
    color:black;
    position:absolute;
    font-size:5rem;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
    margin:0;
    text-align: center;
}

